body{
    background-color: dimgrey;
}
h2{
    color:saddlebrown;   
    text-align: center;
}
.overflow{
    overflow: auto;
    border-style: solid;
    background-color: snow;
    border-color: teal;
    border-width: 6px;
}
ul{
    list-style-type: square;
}
nav{
    float: left;
    background-color: snow;
    width: 175px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(173, 30, 5);
}
section{
    margin-left: 183px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(53, 192, 247);
    background-color: snow;
    min-height: 100px;
    padding: 4px;
}